<div class="row">
    <h4 class="frame-title">{{ msg('ebodac.web.title')}}&nbsp;-&nbsp;{{ msg('ebodac.web.reports.title')}}</h4>
    <table class="table table-bundles table-bordered table-striped table-lightblue table-condensed">
        <thead>
        <tr>
            <th>{{msg('ebodac.web.reports.title')}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a href="#/ebodac/reportPrimerVaccination">{{msg('ebodac.web.reports.reportPrimerVaccination')}}</a></td>
        </tr>
        <tr>
            <td><a href="#/ebodac/reportBoosterVaccination">{{msg('ebodac.web.reports.reportBoosterVaccination')}}</a></td>
        </tr>
        <tr>
            <td><a href="#/ebodac/getReport/dailyClinicVisitScheduleReport">{{msg('ebodac.web.reports.dailyClinicVisitScheduleReport')}}</a></td>
        </tr>
        <tr>
            <td><a href="#/ebodac/getReport/followupsAfterPrimeInjectionReport">{{msg('ebodac.web.reports.followupsAfterPrimeInjectionReport')}}</a></td>
        </tr>
        <tr>
            <td><a href="#/ebodac/getReport/followupsMissedClinicVisitsReport">{{msg('ebodac.web.reports.followupsMissedClinicVisitsReport')}}</a></td>
        </tr>
        <tr>
            <td><a href="#/ebodac/getReport/ivrAndSmsStatisticReport">{{msg('ebodac.web.reports.ivrAndSmsStatisticReport')}}</a></td>
        </tr>
        <tr>
            <td><a href="#/ebodac/getReport/MandEMissedClinicVisitsReport">{{msg('ebodac.web.reports.MandEMissedClinicVisitsReport')}}</a></td>
        </tr>
        <tr>
            <td><a href="#/ebodac/getReport/optsOutOfMotechMessagesReport">{{msg('ebodac.web.reports.optsOutOfMotechMessagesReport')}}</a></td>
        </tr>
        <tr>
            <td><a href="#/ebodac/getReport/screeningReport">{{msg('ebodac.web.reports.screeningReport')}}</a></td>
        </tr>
        <tr>
            <td><a href="#/ebodac/callDetailRecord">{{msg('ebodac.web.reports.callDetailRecord')}}</a></td>
        </tr>
        <tr>
            <td><a href="#/ebodac/getReport/day8AndDay57Report">{{msg('ebodac.web.reports.day8AndDay57Report')}}</a></td>
        </tr>
        <tr>
            <td><a href="#/ebodac/SMSLog">{{msg('ebodac.web.reports.SMSLog')}}</a></td>
        </tr>
        </tbody>
    </table>
</div>