<div class="row">
    <h4 class="frame-title">{{ msg('ebodac.web.title')}}&nbsp;-&nbsp;{{ msg('ebodac.web.statistics.title')}}</h4>
    <table class="table table-bundles table-bordered table-striped table-lightblue table-condensed">
        <thead>
        <tr>
            <th>{{msg('ebodac.web.statistics.title')}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a href="#/ebodac/statistics/tables/ivr">{{msg('ebodac.web.statistics.table.ivr')}}</a></td>
        </tr>
        <tr>
            <td><a href="#/ebodac/statistics/graphs/ivr">{{msg('ebodac.web.statistics.graphs.ivr')}}</a></td>
        </tr>
        <tr>
            <td><a href="#/ebodac/statistics/tables/sms">{{msg('ebodac.web.statistics.table.sms')}}</a></td>
        </tr>
        <tr>
            <td><a href="#/ebodac/statistics/graphs/sms">{{msg('ebodac.web.statistics.graphs.sms')}}</a></td>
        </tr>
        <tr>
            <td><a href="#/ebodac/statistics/ivrEngagement">{{msg('ebodac.web.statistics.ivrEngagement')}}</a></td>
        </tr>
        </tbody>
    </table>
</div>