<div class="row">
    <h4 class="frame-title">{{ pageHeader }}</h4>

    <div class="row inside form-inline">
        <button ng-click="backToStatistics()" type="button" class="btn btn-primary">
            <i class="fa fa-lg fa-level-up"></i>
            {{msg('ebodac.btn.backToStatistics')}}
        </button>

        <button ng-click="showExportGraphsModal()" type="button" ng-disabled="blockExportButton" class="btn btn-default">
            <span class="glyphicon glyphicon-export"></span>
            {{msg('ebodac.web.statistics.exportGraphs')}}
        </button>

        <div class="btn-group">
            <button type="button" class="btn btn-default">{{selectedFilter.name}}</button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li ng-repeat="filter in filters"><a ng-click="selectFilter($index)">{{filter.name}}</a></li>
            </ul>
        </div>
        <div class="form-group" ng-if="selectedFilter === filters[5]">
            <div class="input-group">
                <span class="left input-group-addon">{{msg('ebodac.filter.from')}}</span>
                <input type="text" class="form-control" mds-date-picker ebodac-reload-trigger placeholder="{{msg('ebodac.datePlaceholder')}}" ng-model="selectedFilter.startDate">
                <span class="middle input-group-addon">{{msg('ebodac.filter.to')}}</span>
                <input type="text" class="form-control" mds-date-picker ebodac-reload-trigger placeholder="{{msg('ebodac.datePlaceholder')}}" ng-model="selectedFilter.endDate">
            </div>
        </div>
    </div>

    <div class="margin-before">
        <div class="col-md-6 ebodac-graph" ng-repeat="graph in graphs">
            <h4 class="frame-title title-centred">{{msg('ebodac.web.statistics.graphs.' + graph)}}</h4>
            <canvas id="{{graph}}" class="chart chart-pie" chart-data="data[graph]" chart-labels="labels[graph]" chart-legend="true" chart-options="graphOptions" chart-colours="graphColours" height="200" width="200" ng-if="isGraphNotEmpty(data, graph)"></canvas>
            <div id="graphEmptyMessage" ng-if="!isGraphNotEmpty(data, graph)">
                <h3 class="frame-title title-centred">{{msg('ebodac.web.statistics.noData')}}</h3>
            </div>
        </div>
    </div>

    <div ng-include="'../ebodac/resources/partials/modals/exportGraphs.html'"></div>
</div>