<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../../css/cardStyle.css">
</head>
<body>
<div>
    <table id="header">
        <tr>
            <td><img src="../../logo-ebovac-salone.png" alt="logo"></td>
            <td><h3>Appointment</h3></td>
        </tr>
    </table>

    <table id="volunteer" class="content">
        <tr>
            <th>Version Date</th>
            <td id="versionDate"></td>
        </tr>
        <tr>
            <th>Booking Id</th>
            <td id="bookingId"></td>
        </tr>
        <tr>
            <th>Screening Date</th>
            <td id="screeningDate"></td>
        </tr>
        <tr>
            <th>Clinic Location</th>
            <td id="location"></td>
        </tr>
    </table>
</div>
</body>
</html>
