<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../../css/cardStyle.css">
</head>
<body>
<div>
    <table id="header">
        <tr>
            <td><img src="../../logo-ebovac-salone.png" alt="logo"></td>
            <td><h3>Appointment Card</h3></td>
        </tr>
    </table>
    <table id="participant" class="content">
        <tr>
            <th>Version date</th>
            <td id="versionDate"></td>
        </tr>
        <tr>
            <th>Location</th>
            <td id="location"></td>
        </tr>
        <tr>
            <th>Visit Type</th>
            <td id="visitType"></td>
        </tr>
        <tr>
            <th>Participant Id</th>
            <td id="participantId"></td>
        </tr>
        <tr>
            <th>Scheduled Date</th>
            <td id="scheduledDate"></td>
        </tr>
    </table>
</div>
</body>
</html>
