<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../../css/cardStyle.css">
</head>
<body>
<div>
    <table id="header">
        <tr>
            <td><img src="../../logo-ebovac-salone.png" alt="logo"></td>
            <td><h3>Appointment Card</h3></td>
        </tr>
    </table>
    <table id="visitRescheduleCard" class="content">
        <tr>
            <th>Version Date</th>
            <td id="versionDate"></td>
        </tr>
        <tr>
            <th>Participant Id</th>
            <td id="subjectId"></td>
        </tr>
        <tr>
            <th>Name</th>
            <td id="subjectName"></td>
        </tr>
        <tr>
            <th>Your Next Visit Is</th>
            <td id="date"></td>
        </tr>
        <tr>
            <th>Clinic Location</th>
            <td id="location"></td>
        </tr>
    </table>
</div>
</body>
</html>
