<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/cardStyle.css">
</head>
<body>
<div>
    <center>
        <img src="../logo-ebovac-salone.png" alt="logo" height="300" width="600">
    </center>
    <table id="primeVaccinationCard">
        <tr>
            <th>Version date</th>
            <td id="versionDate"></td>
        </tr>
        <tr>
            <th>Location</th>
            <td id="location"></td>
        </tr>
        <tr>
            <th>Participant Id</th>
            <td id="participantId"></td>
        </tr>
        <tr>
            <th>Name</th>
            <td id="name"></td>
        </tr>
        <tr>
            <th>Prime Vaccination Date</th>
            <td id="primeVaccinationDate"></td>
        </tr>
        <tr>
            <th>Appointment Time</th>
            <td id="appointmentTime"></td>
        </tr>
    </table>
</div>
</body>
</html>
