<div class="booking-app">
    <div class="row inside form-inline">
        <button id="lookupDialogButton" ng-click="showLookupDialog()" type="button" class="btn btn-default">
            <i class="fa fa-lg fa-caret-down"></i>
            {{msg('bookingApp.btn.lookup')}}
        </button>
        <button ng-click="exportEntityInstances()" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-export"></span>
            {{msg('bookingApp.btn.exportData')}}
        </button>
    </div>

    <div id="lookup-dialog" class="popover bottom inside lookup-dialog" ng-style="lookupDialogStyle()">
        <div class="arrow" style="left:110px"></div>
        <div class="popover-content form-horizontal margin-after2">
            <div class="form-group">
                <label class="col-sm-4 control-label">{{msg('bookingApp.form.label.lookup')}}</label>
                <div class="col-sm-7">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        {{selectedLookup.lookupName || msg('bookingApp.form.select')}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="lookup in lookups">
                            <a ng-click="selectLookup(lookup)">{{lookup.lookupName}}</a>
                        </li>
                    </ul>

                </div>
            </div>

            <div class="form-group" ng-repeat="field in lookupFields">
                <label class="col-sm-4 control-label">
                    {{field.displayName}}
                    <span ng-if="field.relatedName">
                        <i class="fa fa-long-arrow-right fa-2"></i>
                        {{field.relatedFieldDisplayName}}
                    </span>
                </label>
                <div class="col-sm-7 form-inline" ng-include="loadInputForLookupField(field)"></div>
            </div>

            <div class="form-group margin-before3">
                <div class="col-sm-offset-4 col-sm-7">
                    <buton type="button" class="btn btn-danger" ng-click="removeLookup()">
                        {{msg('bookingApp.btn.clear')}}
                    </buton>
                    <button type="button" class="btn btn-primary" ng-click="filterInstancesByLookup()">
                        {{msg('bookingApp.btn.find')}}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="primeVaccinationTable" class="row inside booking-app overrideJqgridTable">
        <table id="primeVaccinationSchedule" prime-vaccination-grid><tr><td></td></tr></table>
        <div id="pager"></div>
    </div>
    <div ng-include="'../booking-app/resources/partials/modals/primeVaccinationModal.html'"></div>
    <div ng-include="'../booking-app/resources/partials/modals/export-entity.html'"></div>
</div>