<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/cardStyle.css">
</head>
<body>
<div>
    <center>
        <img src="../logo-ebovac-salone.png" alt="logo" height="300" width="600">
    </center>
    <table id="visitScheduleCard">
        <tr>
            <th>Participant Id</th>
            <td id="subjectId"></td>
        </tr>
        <tr>
            <th>Name</th>
            <td id="subjectName"></td>
        </tr>
        <tr>
            <th>Actual Prime Vaccination Date</th>
            <td id="primeActualDate"></td>
        </tr>
        <tr>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>Visit Type</th>
            <th>Scheduled Date</th>
        </tr>
        <tr>
            <th>Prime Vaccination Follow-up Visit</th>
            <td id="primeVacFollowup"></td>
        </tr>
        <tr>
            <th>Boost Vaccination Day</th>
            <td id="boostVacDay"></td>
        </tr>
        <tr>
            <th>Boost Vaccination First Follow-up visit</th>
            <td id="boostFirstFollowup"></td>
        </tr>
        <tr>
            <th>Boost Vaccination Second Follow-up visit</th>
            <td id="boostSecondFollowup"></td>
        </tr>
        <tr>
            <th>Boost Vaccination Third Follow-up visit</th>
            <td id="boostThirdFollowup"></td>
        </tr>
        <tr>
            <th>First Long-term Follow-up visit</th>
            <td id="firstLongTerm"></td>
        </tr>
        <tr>
            <th>Second Long-term Follow-up visit</th>
            <td id="secondLongTerm"></td>
        </tr>
        <tr>
            <th>Third Long-term Follow-up visit</th>
            <td id="thirdLongTerm"></td>
        </tr>
    </table>
</div>
</body>
</html>
