<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/cardStyle.css">
</head>
<body>
<div>
    <center>
        <img src="../logo-ebovac-salone.png" alt="logo" height="300" width="600">
    </center>
    <table id="volunteer">
        <tr>
            <th>Booking Id</th>
            <td id="bookingId"></td>
        </tr>
        <tr>
            <th>Name</th>
            <td id="volunteerName"></td>
        </tr>
        <tr>
            <th>Screening Date</th>
            <td id="screeningDate"></td>
        </tr>
    </table>
</div>
</body>
</html>
