<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/cardStyle.css">
</head>
<body>
<div>
    <center>
        <img src="../logo-ebovac-salone.png" alt="logo" height="300" width="600">
    </center>
    <table id="volunteer">
        <tr>
            <th>Volunteer ID</th>
            <th>Volunteer Name</th>
            <th>Location</th>
            <th>Screening Date</th>
            <th>Appt. Time</th>
        </tr>
        <tr>
            <td id="participantId"></td>
            <td id="participantName"></td>
            <td id="location"></td>
            <td id="screeningDate"></td>
            <td id="apptTime"></td>
        </tr>
    </table>
</div>
</body>
</html>
