<div ng-controller="BANewScreeningCtrl" class="modal fade" id="addScreeningModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Schedule screening</h4>
            </div>
            <div ng-if="newScreening != undefined">
                <div class="modal-body">
                        <div class="input-group">
                            <span class="input-group-addon">Name</span>
                            <input type="text" class="form-control" placeholder="volunteer name" aria-describedby="basic-addon1" ng-model="newScreening.volunteerName">
                            <span class="input-group-addon validator" ng-class="{'alert-danger': newScreening.volunteerName === '', 'alert-success': newScreening.volunteerName !== undefined}"><i class="fa fa-fw fa-check"></i></span>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Date</span>
                            <input type="text" class="form-control" mds-date-picker placeholder="Click to select date" ng-model="newScreening.date">
                            <span class="input-group-addon validator" ng-class="{'alert-danger': newScreening.date === '', 'alert-success': newScreening.date !== undefined}"><i class="fa fa-fw fa-check"></i></span>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Start Time</span>
                            <input type="text" class="form-control" mds-time-picker placeholder="Click to select start time" ng-model="newScreening.startTime">
                            <span class="input-group-addon validator" ng-class="{'alert-danger': newScreening.startTime === '', 'alert-success': newScreening.startTime !== undefined}"><i class="fa fa-fw fa-check"></i></span>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">End Time</span>
                            <input type="text" class="form-control" mds-time-picker placeholder="Click to select end time" ng-model="newScreening.endTime">
                            <span class="input-group-addon validator" ng-class="{'alert-danger': isValidEndTime() === false, 'alert-success': isValidEndTime()}"><i class="fa fa-fw fa-check"></i></span>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Site</span>
                            <select class="form-control" ui-select2 ng-model="selectedSite" ng-options="site as site.siteId for site in sites">
                                <option ng-hide="selectedSite !== undefined" value="">- Please Choose -</option>
                            </select>
                            <span class="input-group-addon validator" ata-toggle="tooltip" data-placement="top" ng-class="{'alert-success': selectedSite !== undefined}"><i class="fa fa-fw fa-check"></i></span>
                        </div>
                        <div class="input-group" ng-show="selectedSite">
                            <span class="input-group-addon">Clinic</span>
                            <select class="form-control my-select" ui-select2 ng-model="newScreening.clinic" ng-options="clinic as clinic.location for clinic in selectedSite.clinics">
                                <option ng-hide="newScreening.clinic.id !== undefined" value="">- Please Choose -</option>
                            </select>
                            <span class="input-group-addon validator" ng-class="{'alert-success': newScreening.clinic !== undefined}"><i class="fa fa-fw fa-check"></i></span>
                        </div>
                        <div class="input-group" ng-show="newScreening.clinic">
                            <span class="input-group-addon">Room</span>
                            <select class="form-control square" ui-select2 ng-model="newScreening.room" ng-options="room as room.number for room in newScreening.clinic.rooms">
                                <option ng-hide="newScreening.room.id !== undefined" value="">- Please Choose -</option>
                            </select>
                            <span class="input-group-addon validator" ng-class="{'alert-success': newScreening.room !== undefined}"><i class="fa fa-fw fa-check"></i></span>
                        </div>
                </div>
                <div class="modal-footer">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" ng-disabled="!formIsFilled()" class="btn btn-success ng-binding" ng-click="addScreening()">
                            <i class="fa fa-fw fa-plus"></i> Add
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
            <div ng-if="newScreening === null">
                <div class="modal-body">
                    Screening visit scheduled successfully.
                </div>
                <div class="modal-footer">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" ng-disabled="!formIsFilled()" class="btn btn-primary ng-binding">
                            <i class="fa fa-fw fa-print"></i> Print card
                        </button>
                        <button type="button" ng-disabled="!formIsFilled()" class="btn btn-success ng-binding" ng-click="clearForm()">
                            <i class="fa fa-fw fa-plus"></i> Add another
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>