<div class="modal fade" id="primeVaccinationScheduleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{msg('bookingApp.primeVaccination.update')}}</h4>
            </div>
            <div ng-if="form.dto">
                <div class="modal-body prime-vaccination-schedule-modal-body">
                    <div class="booking-app input-group">
                        <span class="left left input-group-addon">{{msg('bookingApp.primeVaccination.participantName')}}</span>
                        <div class="form-control">{{form.dto.participantName}}</div>
                    </div>
                    <div class="booking-app input-group" ng-if="form.dto.participantGender == 'Female'">
                        <span class="left input-group-addon">{{msg('bookingApp.primeVaccination.femaleChildBearingAge')}}</span>
                        <select class="form-control" ui-select2 id="femaleChildBearingAgeSelect" ng-model="form.dto.femaleChildBearingAge">
                            <option ng-hide="form.dto.femaleChildBearingAge != undefined" value="">{{'- ' + msg('bookingApp.choose') + ' -'}}</option>
                            <option value="true">{{msg('bookingApp.primeVaccination.yes')}}</option>
                            <option value="false">{{msg('bookingApp.primeVaccination.no')}}</option>
                        </select>
                        <span class="input-group-addon validator" ng-class="{'alert-success': form.dto.femaleChildBearingAge != undefined && form.dto.femaleChildBearingAge != '' }"><i class="fa fa-fw fa-check"></i></span>
                    </div>
                    <div class="booking-app input-group">
                        <span class="left input-group-addon">{{msg('bookingApp.date')}}</span>
                        <input type="text" class="form-control" booking-app-date-picker for-date="{{form.dto.actualScreeningDate}}" placeholder="{{msg('bookingApp.datePlaceholder')}}" ng-model="form.dto.date">
                        <span class="input-group-addon validator" ng-class="{'alert-danger': form.dto.date === '', 'alert-success': form.dto.date}"><i class="fa fa-fw fa-check"></i></span>
                    </div>
                    <div class="booking-app input-group prime-vaccination-schedule-modal">
                        <span class="left input-group-addon">{{msg('bookingApp.startTime')}}</span>
                        <input type="text" class="form-control" mds-time-picker placeholder="{{msg('bookingApp.startTimePlaceholder')}}" ng-model="form.dto.startTime">
                        <span class="input-group-addon validator" ng-class="{'alert-danger': form.dto.startTime === '', 'alert-success': form.dto.startTime}"><i class="fa fa-fw fa-check"></i></span>
                    </div>
                    <div class="booking-app input-group prime-vaccination-schedule-modal">
                        <span class="left input-group-addon">{{msg('bookingApp.endTime')}}</span>
                        <input type="text" class="form-control" mds-time-picker placeholder="{{msg('bookingApp.endTimePlaceholder')}}" ng-model="form.dto.endTime">
                        <span class="input-group-addon validator" ng-class="{'alert-danger': isValidEndTime(form.dto.startTime, form.dto.endTime) === false, 'alert-success': isValidEndTime(form.dto.startTime, form.dto.endTime)}"><i class="fa fa-fw fa-check"></i></span>
                    </div>
                    <div class="booking-app input-group prime-vaccination-schedule-modal">
                        <span class="left input-group-addon">{{msg('bookingApp.site')}}</span>
                        <select class="form-control" ui-select2 id="siteSelect" ng-model="form.dto.siteId" set="clinics">
                            <option ng-hide="form.dto.siteId" value="">{{'- ' + msg('bookingApp.choose') + ' -'}}</option>
                            <option ng-repeat="site in sites" value="{{site.id}}" ng-selected="{{site.id == form.dto.siteId}}">{{site.siteId}}</option>
                        </select>
                        <span class="input-group-addon validator" ng-class="{'alert-success': form.dto.siteId}"><i class="fa fa-fw fa-check"></i></span>
                    </div>
                    <div class="booking-app input-group" ng-show="form.dto.siteId">
                        <span class="left input-group-addon">{{msg('bookingApp.clinic')}}</span>
                        <select class="form-control" ui-select2 id="clinicSelect" ng-model="form.dto.clinicId">
                            <option ng-hide="form.dto.clinicId" value="">{{'- ' + msg('bookingApp.choose') + ' -'}}</option>
                            <option ng-repeat="clinic in clinics" value="{{clinic.id}}" ng-selected="{{clinic.id == form.dto.clinicId}}">{{clinic.location}}</option>
                        </select>
                        <span class="input-group-addon validator" ng-class="{'alert-success': form.dto.clinicId}"><i class="fa fa-fw fa-check"></i></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-primary ng-binding" ng-disabled="!formIsFilled()" ng-click="savePrimeVaccinationSchedule()">
                            <i class="fa fa-fw fa-save"></i> {{msg('bookingApp.save')}}
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{msg('bookingApp.cancel')}}</button>
                    </div>
                </div>
            </div>
            <div ng-if="!form.dto">
                <div class="modal-body">
                    {{msg('bookingApp.primeVaccination.updateSuccessful')}}
                </div>
                <div class="modal-footer">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary ng-binding" ng-click="printCardFrom('updated')">
                            <i class="fa fa-fw fa-print"></i> {{msg('bookingApp.printCard')}}
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{msg('bookingApp.close')}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>