<div class="row">
    <h4 class="frame-title">{{ msg('ebodac.web.reports.dailyClinicVisitScheduleReport')}}</h4>

    <div class="clearfix toolbox form-horizontal">
        <button ng-click="backToEntityList()" type="button" class="btn btn-primary">
            <i class="fa fa-lg fa-level-up"></i>
            {{msg('mds.btn.backToList')}}
        </button>
    </div>

    <div id="dailyClinicVisitScheduleReport" class="overrideJqgridTable">
        <table id="dailyClinicVisitScheduleReportTable" daily-clinic-visit-schedule-report-grid="pageDailyClinicVisitScheduleReportTable"></table>
        <div id="pageDailyClinicVisitScheduleReportTable"></div>
    </div>
</div>