<div class="row">
    <h4 class="frame-title">{{ msg('ebodac.web.reports.dailyClinicVisitScheduleReport')}}</h4>

    <div class="clearfix toolbox form-horizontal">
        <button ng-click="backToEntityList()" type="button" class="btn btn-primary">
            <i class="fa fa-lg fa-level-up"></i>
            {{msg('ebodac.btn.backToList')}}
        </button>
        <button id="lookupDialogButton" ng-click="showLookupDialog()" type="button" class="btn btn-default">
            <i class="fa fa-lg fa-caret-down"></i>
            {{msg('ebodac.btn.lookup')}}
        </button>
        <button ng-click="exportEntityInstances()" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-export"></span>
            {{msg('ebodac.btn.exportData')}}
        </button>
    </div>

    <div id="lookup-dialog" class="popover bottom inside lookup-dialog">
        <div class="arrow" style="left:110px"></div>
        <div class="popover-content form-horizontal margin-after2">
            <div class="form-group">
                <label class="col-sm-4 control-label">{{msg('ebodac.form.label.lookup')}}</label>
                <div class="col-sm-7">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        {{selectedLookup.lookupName || msg('ebodac.form.select')}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="lookup in lookups">
                            <a ng-click="selectLookup(lookup)">{{lookup.lookupName}}</a>
                        </li>
                    </ul>

                </div>
            </div>

            <div class="form-group" ng-repeat="field in lookupFields">
                <label class="col-sm-4 control-label">{{field.name}}</label>
                <div class="col-sm-7 form-inline" ng-include="loadInputForLookupField(field)"></div>
            </div>

            <div class="form-group margin-before3">
                <div class="col-sm-offset-4 col-sm-7">
                    <buton type="button" class="btn btn-danger" ng-click="removeLookup()">
                        {{msg('ebodac.btn.clear')}}
                    </buton>
                    <button type="button" class="btn btn-primary" ng-click="filterInstancesByLookup()">
                        {{msg('ebodac.btn.find')}}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="dailyClinicVisitScheduleReport" class="overrideJqgridTable">
        <table id="dailyClinicVisitScheduleReportTable" daily-clinic-visit-schedule-report-grid="pageDailyClinicVisitScheduleReportTable"></table>
        <div id="pageDailyClinicVisitScheduleReportTable"></div>
    </div>

    <div ng-include="'../ebodac/resources/partials/modals/export-entity.html'"></div>
</div>