<div class="row">
    <h4 class="frame-title">{{ msg('ebodac.web.enrollmentAdvanced.header')}}</h4>

    <div class="clearfix toolbox form-horizontal">
        <button ng-click="backToEnrolments()" type="button" class="btn btn-primary">
            <i class="fa fa-lg fa-level-up"></i>
            {{msg('ebodac.btn.backToEnrolments')}}
        </button>
    </div>

    <div id="enrollmentAdvanced" class="overrideJqgridTable">
        <table id="enrollmentAdvancedTable" enrollment-advanced-grid></table>
    </div>
</div>
