<div class="row col-md-12">
    <div class="inside">
        <div class="clearfix margin-before">

            <form class="form-horizontal">
                <fieldset>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="first-name">{{msg('ebodac.registerForm.firstName')}}</label>
                        <div class="form-inline col-md-8">
                            <input id="first-name" name="first-name" class="form-control input-xlarge-fluid input-auto" type="text" ng-model="subject.firstName" >
                            <!-- <span ng-show="errorName" class="form-hint">{{errorName}}</span> -->
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="last-name">{{msg('ebodac.registerForm.lastName')}}</label>
                        <div class="col-md-4">
                            <input id="last-name" name="last-name" class="form-control input-xlarge-fluid input-auto" type="text" ng-model="subject.lastName" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="phone-type">{{msg('ebodac.registerForm.phoneType')}}</label>
                        <div class="col-md-4">
                            <select id="phone-type" name="phone-type" class="form-control input-xlarge-fluid input-auto" ng-model="subject.phoneType" >
                                <option value="Personal" selected="selected">{{msg('ebodac.registerForm.phoneType.personal')}}</option>
                                <option value="Shared" >{{msg('ebodac.registerForm.phoneType.shared')}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="head-of-household">{{msg('ebodac.registerForm.headOfHouseholdName')}}</label>
                        <div class="col-md-4">
                            <input id="head-of-household" name="head-of-household" class="form-control input-xlarge-fluid input-auto" type="text" ng-model="subject.headOfHouseholdName" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="phone-number">{{msg('ebodac.registerForm.phoneNumber')}}</label>
                        <div class="col-md-4">
                            <input id="phone-number" name="phone-number" class="form-control input-xlarge-fluid" type="text" ng-model="subject.phoneNumber" maxlength="43">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="age">{{msg('ebodac.registerForm.age')}}</label>
                        <div class="col-md-4">
                            <input id="age" name="age" class="form-control input-xlarge-fluid input-auto" type="number" ng-model="subject.age" min="0" max="110" maxlength="3">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">{{msg('ebodac.registerForm.gender')}}</label>
                        <div class="col-md-4">
                            <label class="radio-inline">
                                <input id="male" name="male" type="radio" value="Male" ng-model="subject.gender"> Male
                            </label>
                            <label class="radio-inline">
                                <input id="female" name="female" type="radio" value="Female" ng-model="subject.gender"> Female
                            </label>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="address">{{msg('ebodac.registerForm.address')}}</label>
                        <div class="col-md-4">
                            <textarea id="address" name="address" class="form-control input-xlarge-fluid input-auto" type="text" ng-model="subject.address" maxlength="255"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="language">{{msg('ebodac.registerForm.language')}}</label>
                        <div class="col-md-4">
                            <select id="language" name="language" class="form-control input-xlarge-fluid input-auto" ng-model="subject.language" >
                                <option value="Krio" selected="selected">{{msg('language.krio')}}</option>
                                <option value="English" >{{msg('language.english')}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="health-facility-location">{{msg('ebodac.registerForm.healthFacilityLocation')}}</label>
                        <div class="col-md-4">
                            <input id="health-facility-location" name="health-facility-location" class="form-control input-xlarge-fluid input-auto" type="text" ng-model="subject.healthFacilityLocation" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="vaccination-date">{{msg('ebodac.registerForm.vaccinationDate')}}</label>
                        <div class="col-md-4">
                            <input id="vaccination-date" name="vaccination-date" class="form-control input-xlarge-fluid input-auto" type="text" ng-model="subject.vaccinationDate" >
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-4">
                            <button ng-click="submit()" class="btn btn-success">
                                <i class="icon-plus icon-white"></i>&nbsp;{{msg('ebodac.registerForm.submit')}}
                            </button>
                            <button ng-click="clearForm()" class="btn btn-inverse">
                                <i class="icon-cogs icon-white"></i>&nbsp;{{msg('ebodac.registerForm.clearForm')}}
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>