table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

table {
    width: 100%;
}

th {
    height: 30px;
    box-shadow: 0 0 0 1000px gray inset;
}

img {
    margin: 15px;
}

th, td {
    padding: 5px;
}
