
.content {
    width: 100%;
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;

}

.content td{
    padding: 5px;
    border: 1px solid black;
}
.content th {
    padding: 5px;
    height: 30px;
    box-shadow: 0 0 0 1000px gray inset;
    border: 1px solid black;
}

#header {
    width: 100%;
}

#header td{
    width: 50%;
}

img {
    margin: 5px;
    height: 300px;
    width: 90%;

}

h3 {
    font-size: 1.5em;
}
