table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

table {
    width: 100%;
}

th {
    height: 50px;
}

img {
    margin: 20px;
}

th, td {
    padding: 15px;
}