.ebodac input.ng-invalid:focus {
    color: #B94A48 !important;
    border-color: #E9322D !important;
    box-shadow: 0 0 6px #F8B9B7 !important;
}

.pointer {
    cursor: pointer;
}

.title-centred {
    text-align: center;
}

.ebodac.input-group {
    width: 100%;
    margin-bottom: 10px !important;
}

.left.input-group-addon {
    width: 100px;
    text-align: left;
}

.middle.input-group-addon {
    border-left: 0px;
    border-right: 0px;
}

.ebodac-graph {
    padding-left: 50px;
    padding-right: 50px;
}

tr.sum-row>td {
    border-top:4pt double black !important;
}

.chart-legend,
.bar-legend,
.line-legend,
.pie-legend,
.radar-legend,
.polararea-legend,
.doughnut-legend {
  list-style-type: none;
  margin-top: 5px;
  text-align: center;
  /* NOTE: Browsers automatically add 40px of padding-left to all lists, so we should offset that, otherwise the legend is off-center */
  -webkit-padding-start: 0;
  /* Webkit */
  -moz-padding-start: 0;
  /* Mozilla */
  padding-left: 0;
  /* IE (handles all cases, really, but we should also include the vendor-specific properties just to be safe) */
}

.chart-legend li,
.bar-legend li,
.line-legend li,
.pie-legend li,
.radar-legend li,
.polararea-legend li,
.doughnut-legend li {
  display: inline-block;
  white-space: nowrap;
  position: relative;
  margin-bottom: 4px;
  border-radius: 5px;
  padding: 2px 8px 2px 28px;
  font-size: smaller;
  cursor: default;
}

.chart-legend li span,
.bar-legend li span,
.line-legend li span,
.pie-legend li span,
.radar-legend li span,
.polararea-legend li span,
.doughnut-legend li span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

#graphEmptyMessage {
  margin-top: 200px;
  margin-bottom: 300px;

}

.report-disabled {
    background: #EDF2F4 !important;
    background: -moz-linear-gradient(top,  #EDF2F4 0%, #CCD7DE 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EDF2F4), color-stop(100%,#CCD7DE)) !important;
    background: -webkit-linear-gradient(top,  #EDF2F4 0%,#CCD7DE 100%) !important;
    background: -o-linear-gradient(top,  #EDF2F4 0%,#CCD7DE 100%) !important;
    background: -ms-linear-gradient(top,  #EDF2F4 0%,#CCD7DE 100%) !important;
    background: linear-gradient(to bottom,  #EDF2F4 0%,#CCD7DE 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EDF2F4', endColorstr='#CCD7DE',GradientType=0 );
}
